# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Tommy.Serializer.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\GitHub\instance-id\Tommy.Serializer.Fix\Tommy.Serializer\.idea\.idea.Tommy.Serializer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
